/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "yeti/variables";
@import "bootstrap";
@import "yeti/bootswatch";
@import "font-awesome";
@import "rails_bootstrap_forms";
@import './base.scss';
main {
  margin-top: 20px;
}

.alert-dismissible {
  padding-left: $alert-dismissible-padding-r;
}

.navbar-brand
{
  color :white;
}

.button
{
  color :black;
  position: static;
}

.dropdown-menu
{
  color :white;
}

.nav-link.dropdown-toggle
{
  color :white;
}

.nav-link
{
  color :white;

}

.sp{

  
  display: flex;
  margin-top: 4%;
}

.qwerty {
  margin-top: 2%;
  margin-bottom: 4%;
  text-align: center;
}

.text
{
  margin-top: 15%;
  margin-left: 2%;
}

.CupcakeRecipetitle{
  margin-top: 2%;
  text-align: center;
}

.abc{
  color: 'white';
}



